@charset "utf-8";

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: '微软雅黑';
}

.header {
  height: 590px;
  background-color: #102131;

  .bg {
    position: absolute;
    left: 0;
    top: 0;

    -webkit-animation: bigger 3s ease-in-out infinite;
    -o-animation: bigger 3s ease-in-out infinite;
    animation: bigger 3s ease-in-out infinite;
  }

  .container {
    position: relative;
    max-width: 1130px;
    margin: 0 auto;
    padding-top: 110px;
    color: #fff;

    .content{
      width: 54%;
      padding-top: 9%;

      h1 {
        font-size: 48px;
      }

      .synopsis {
        font-size: 15px;
        color: rgba(255, 255, 255, .7);
        letter-spacing: 2px;
        line-height: 2;
      }
    }



    .animation {
      position: absolute;
      right: -5%;
      top: 110px;
      width: 62%;
    }
  }
}

section {
  background-color: #fff;

  .container {
    display: flex;
    justify-content: center;

    max-width: 1130px;
    margin: 0 auto;
    padding: 60px 0;
  }

  .card_wrapper {
    flex-basis: 25%;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1),0 5px 15px rgba(0, 0, 0, 0.05);
    color: #9ca7b4;
    margin-left: 20px;
    margin-right: 20px;

    &:hover {
      transition: transform .5s;
      transform: scale(1.01) translateY(-5px);

      box-shadow: 0 1px 18px rgba(0, 0, 0, 0.1), 0 5px 30px rgba(0, 0, 0, 0.09);
    }

    .top {
      position: relative;
      background-color: #2da2f8;
      height: 200px;
      border-radius: 5px 5px 0 0;
      text-align: center;

      .icon {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 40%;
        margin: auto;
      }
    }

    .bottom {
      padding-left: 20px;
      padding-right: 20px;

      h2 {
        font-weight: 400;
        color: #444;
      }
    }
  }
}



@keyframes bigger {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
